<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <array>
        <dict>
            <key>labelText</key>
            <string>0</string>
            <key>value</key>
            <string>0</string>
            <key>type</key>
            <string>digit</string>
            <key>visible</key>
            <true/>
            <key>id</key>
            <integer>0</integer>
        </dict>
    </array>
</array>
</plist>
